@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp2exligit-webfont.eot');
  src: url('../fonts/theserif-hp2exligit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp2exligit-webfont.woff') format('woff'),
  url('../fonts/theserif-hp2exligit-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp2exligit-webfont.svg#theserifhp2_extralight_italic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp3lig-webfont.eot');
  src: url('../fonts/theserif-hp3lig-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp3lig-webfont.woff') format('woff'),
  url('../fonts/theserif-hp3lig-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp3lig-webfont.svg#theserifhp3_light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp3ligit-webfont.eot');
  src: url('../fonts/theserif-hp3ligit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp3ligit-webfont.woff') format('woff'),
  url('../fonts/theserif-hp3ligit-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp3ligit-webfont.svg#theserifhp3_light_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp4selig-webfont.eot');
  src: url('../fonts/theserif-hp4selig-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp4selig-webfont.woff') format('woff'),
  url('../fonts/theserif-hp4selig-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp4selig-webfont.svg#theserifhp4_semilight') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp4seligit-webfont.eot');
  src: url('../fonts/theserif-hp4seligit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp4seligit-webfont.woff') format('woff'),
  url('../fonts/theserif-hp4seligit-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp4seligit-webfont.svg#theserifhp4_semilight_italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp5plain-webfont.eot');
  src: url('../fonts/theserif-hp5plain-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp5plain-webfont.woff') format('woff'),
  url('../fonts/theserif-hp5plain-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp5plain-webfont.svg#theserifhp5_plain') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp5plainit-webfont.eot');
  src: url('../fonts/theserif-hp5plainit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp5plainit-webfont.woff') format('woff'),
  url('../fonts/theserif-hp5plainit-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp5plainit-webfont.svg#theserifhp5_plain_italic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp6sebld-webfont.eot');
  src: url('../fonts/theserif-hp6sebld-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp6sebld-webfont.woff') format('woff'),
  url('../fonts/theserif-hp6sebld-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp6sebld-webfont.svg#theserifhp6_semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp6sebldit-webfont.eot');
  src: url('../fonts/theserif-hp6sebldit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp6sebldit-webfont.woff') format('woff'),
  url('../fonts/theserif-hp6sebldit-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp6sebldit-webfont.svg#theserifhp6_semibold_italic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp7bld-webfont.eot');
  src: url('../fonts/theserif-hp7bld-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp7bld-webfont.woff') format('woff'),
  url('../fonts/theserif-hp7bld-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp7bld-webfont.svg#theserifhp7_bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp7bldit-webfont.eot');
  src: url('../fonts/theserif-hp7bldit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp7bldit-webfont.woff') format('woff'),
  url('../fonts/theserif-hp7bldit-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp7bldit-webfont.svg#theserifhp7_bold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp8exbld-webfont.eot');
  src: url('../fonts/theserif-hp8exbld-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp8exbld-webfont.woff') format('woff'),
  url('../fonts/theserif-hp8exbld-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp8exbld-webfont.svg#theserifhp8_extrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp8exbldit-webfont.eot');
  src: url('../fonts/theserif-hp8exbldit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp8exbldit-webfont.woff') format('woff'),
  url('../fonts/theserif-hp8exbldit-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp8exbldit-webfont.svg#theserifhp8_extrabold_italic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp9blk-webfont.eot');
  src: url('../fonts/theserif-hp9blk-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp9blk-webfont.woff') format('woff'),
  url('../fonts/theserif-hp9blk-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp9blk-webfont.svg#theserifhp9_black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TheSerif';
  src: url('../fonts/theserif-hp9blkit-webfont.eot');
  src: url('../fonts/theserif-hp9blkit-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif-hp9blkit-webfont.woff') format('woff'),
  url('../fonts/theserif-hp9blkit-webfont.ttf') format('truetype'),
  url('../fonts/theserif-hp9blkit-webfont.svg#theserifhp9_black_italic') format('svg');
  font-weight: 900;
  font-style: italic;
}